/* =======================
   ROOT BACKGROUND
======================= */
.root-pane {
    -fx-background-image: url("Loginbackground.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

/* =======================
   LOGIN CARD
======================= */
#login-pane {
    -fx-background-color: rgba(255,255,255,0.4);
    -fx-padding: 20;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-max-width: 400;
    -fx-max-height: 200;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 20, 0.3, 0, 4);
}

/* =======================
   TITLE
======================= */
#title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #AB8A43;
    -fx-padding: 0 0 20 0;
}

/* =======================
   INPUT FIELD
======================= */
.text-field,
.password-field {
    -fx-font-size: 14px;
    -fx-padding: 10 15;
    -fx-border-color: #D3D3D3;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-background-color: rgba(255,255,255,0.4);
}

.text-field:hover,
.password-field:hover {
    -fx-background-color: rgba(255,255,255,0.6);
}

.text-field:focused,
.password-field:focused {
    -fx-border-color: #C2B08A;
    -fx-background-color: rgba(255,255,255,0.75);
}

/* =======================
   LOGIN BUTTON
======================= */
#login-button {
    -fx-background-color: #A0522D;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20px;
    -fx-background-radius: 40;
    -fx-max-width: 80;
    -fx-cursor: hand;
}

#login-button:hover {
    -fx-background-color: #D48E5F;
}

#login-button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

/* =======================
   MESSAGE
======================= */
.success-message {
    -fx-text-fill: #008000;
    -fx-font-weight: bold;
}

.error-message {
    -fx-text-fill: #FF0000;
    -fx-font-weight: bold;
}

/* =======================
   CHECKBOX SHOW PASSWORD
======================= */
#show-password-checkbox .box {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#show-password-checkbox .mark {
    -fx-background-color: #666666;
}

#show-password-checkbox:selected .mark {
    -fx-background-color: #A0522D;
}

/* =======================
   PASSWORD ICON
======================= */
.password-toggle-icon {
    -fx-font-size: 16px;
    -fx-text-fill: #A0522D;
    -fx-cursor: hand;
}

.password-toggle-icon:hover {
    -fx-text-fill: #D48E5F;
}
